body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 5px;
  background: #9FBFFF;
}

.header {
  background: #073F62;
  color: #fff;
  padding: 40px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.awesome {
  font-size: 20px;
  text-shadow: -1px -2px 2px #fff, 1px 2px 2px red;
}

.awesome::before {
  content: "the_";
}

.content {
  display: flex;
}

.awesome::after {
  content: "_site";
}

img {
  width: 50%;
  height: 10%;
  border-radius: 8px;
}

.img1 {
  display: flex;
  /* width: 75%;
  height: 500px; */
}

.img2 {
  display: flex;

  /* width: 800px;
  height: 500px; */
}

.image {
  padding: 5px 0;
}

.right-block {
  writing-mode: vertical-lr;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E3A712;
  background: #fff;
  border-radius: 8px;
  margin: 5px 0 5px 5px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: inset 30px 30px 10px #E3A712;
}

.image:hover {
  position: relative;
}

img:hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.texts-blocks {
  display: flex;
  justify-content: space-between;
}

.text-block {
  width: 33%;
  background: #fff;
  max-height: 200px;
  overflow: auto;
}

.footer {
  background: #073F62;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: 5px;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.navigation {
  display: flex;
}

.nav {
  margin: 0 5px;
}

.nav:hover {
  color: #550608;
  cursor: pointer;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-style: italic;
}

#email {
  padding: 5px;
}

.madeby {
  margin: 20px;
  font-size: 10px;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.fixed:hover {
  border-radius: 25px;
  padding: 8px 20px;
}

.fixed:hover .not-hover {
  display: none;
}

.hover {
  display: none;
}

.fixed:hover .hover {
  display: block;
}

@media screen and (max-width: 768px) {
  .img1 {
    display: block;
  }

  .img2 {
    display: block;
  }

  .content {
    display: block;
  }

  img {
    width: 100%;
  }

  img:hover {
    position: static;
  }

  .right-block {
    writing-mode: horizontal-tb;
    padding: 50px;
    width: unset;
  }

  .texts-blocks {
    display: block;
  }

  .text-block {
    width: 100%;
    margin-bottom: 10px;
  }
}
